<!DOCTYPE html>
<html>

<head>
    <title>{{ .title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>

    <style>
        .navbar-brand {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .card {
            transition: all .3s;
            box-shadow: 0 6px 10px 0 rgba(95, 101, 105, .15);
        }

        .card:hover {
            transform: translate(0px, 0px) scale(1.01) rotate(0deg);
            z-index: 1;
        }
    </style>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@5.3.2/dist/photoswipe.css">

    <script type="module">
        import PhotoSwipeLightbox from 'https://cdn.jsdelivr.net/npm/photoswipe@5.3.2/dist/photoswipe-lightbox.esm.js';

        // Simple fullscreen API
        const fullscreenAPI = getFullscreenAPI();

        // Create custom container
        // which will be stretched to fullscreen.
        //
        // (we can not use PhotoSwipe root element (.pswp),
        //  as it is created only after openPromise is resolved)
        //
        const pswpContainer = getContainer();

        function getFullscreenPromise() {
            // Always resolve promise,
            // as wa want to open lightbox 
            // (no matter if fullscreen is supported or not)
            return new Promise((resolve) => {
                if (!fullscreenAPI || fullscreenAPI.isFullscreen()) {
                    // fullscreen API not supported, or already fullscreen
                    resolve();
                    return;
                }

                document.addEventListener(fullscreenAPI.change, (event) => {
                    pswpContainer.style.display = 'block';
                    // delay to make sure that browser fullscreen animation is finished
                    setTimeout(function () {
                        resolve();
                    }, 300);
                }, { once: true });

                fullscreenAPI.request(pswpContainer);
            });
        }

        const lightbox = new PhotoSwipeLightbox({
            gallery: '#gallery--getting-started',
            children: 'a',
            pswpModule: () => import('https://cdn.jsdelivr.net/npm/photoswipe@5.3.2/dist/photoswipe.esm.js'),

            // Add function that returns promise
            openPromise: getFullscreenPromise,

            // Append PhotoSwipe to our container
            appendToEl: fullscreenAPI ? pswpContainer : document.body,

            // disable opening/closing animations
            showAnimationDuration: 0,
            hideAnimationDuration: 0,

            // Add if you're using responsive images
            // since viewport size is unpredictable
            // at initialization
            preloadFirstSlide: false
        });
        lightbox.on('close', () => {
            pswpContainer.style.display = 'none';
            if (fullscreenAPI && fullscreenAPI.isFullscreen()) {
                fullscreenAPI.exit();
            }
        });
        lightbox.init();

        // Simple fullscreen API helper,
        // supports unprefixed and webkit-prefixed versions
        function getFullscreenAPI() {
            let api;
            let enterFS;
            let exitFS;
            let elementFS;
            let changeEvent;
            let errorEvent;

            if (document.documentElement.requestFullscreen) {
                enterFS = 'requestFullscreen';
                exitFS = 'exitFullscreen';
                elementFS = 'fullscreenElement';
                changeEvent = 'fullscreenchange';
                errorEvent = 'fullscreenerror';
            } else if (document.documentElement.webkitRequestFullscreen) {
                enterFS = 'webkitRequestFullscreen';
                exitFS = 'webkitExitFullscreen';
                elementFS = 'webkitFullscreenElement';
                changeEvent = 'webkitfullscreenchange';
                errorEvent = 'webkitfullscreenerror';
            }

            if (enterFS) {
                api = {
                    request: function (el) {
                        if (enterFS === 'webkitRequestFullscreen') {
                            el[enterFS](Element.ALLOW_KEYBOARD_INPUT);
                        } else {
                            el[enterFS]();
                        }
                    },

                    exit: function () {
                        return document[exitFS]();
                    },

                    isFullscreen: function () {
                        return document[elementFS];
                    },

                    change: changeEvent,
                    error: errorEvent
                };
            }

            return api;
        };

        function getContainer() {
            const pswpContainer = document.createElement('div');
            pswpContainer.style.background = '#000';
            pswpContainer.style.width = '100%';
            pswpContainer.style.height = '100%';
            pswpContainer.style.display = 'none';
            document.body.appendChild(pswpContainer);
            return pswpContainer;
        }
    </script>

    <script>
        var lazyLoadInstance = new LazyLoad({
            elements_selector: ".lazy",
        });

        // 内容加载
        $(document).ready(function () {
            $(".row").children(["col-sm-4"]).remove()

            pathname = window.location.pathname
            id = pathname.substring(pathname.lastIndexOf('/') + 1, pathname.length)

            fetch('/api/thread/' + id)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    for (var k in data) {
                        imagePath = data[k]["imagePath"]
                        width = data[k]["width"]
                        height = data[k]["height"]

                        var item = ' \
                        <div class="col-sm-4 p-2"> \
                            <div class="card"> \
                                <a href="' + imagePath + '" data-pswp-width="' + width + '" data-pswp-height="' + height + '" target="_blank"> \
                                    <img class="card-img-top lazy" src="' + imagePath + '" alt="lazy image" /> \
                                </a> \
                            </div> \
                        </div> \
                        '
                        $(".row").append(item)
                        lazyLoadInstance.update()
                    }
                })
        });
    </script>
</head>

<body style="padding-top: 60px;">
    <div class="container">
        <!-- 导航栏 -->
        <nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-top">
            <a class="navbar-brand" href="/">{{ .name }}</a>
            <form class="ml-auto">
                <span class="text-white">
                    <i class="fa fa-eye"></i>{{ .views }}
                </span>
                <span class="text-white">
                    <i class="bi bi-bookmark"></i>{{ .amount }}
                </span>
            </form>
        </nav>

        <!-- 内容 -->
        <div class="row pswp-gallery pswp-gallery--single-column" id="gallery--getting-started">
            <div class="col-sm-4 p-2">
                <div class="card">
                    <a href="/assets/samples/01.jpeg" data-pswp-width="665" data-pswp-height="400" target="_blank">
                        <img class="card-img-top lazy" src="/assets/samples/01.jpeg" alt="lazy image" />
                    </a>
                </div>
            </div>

            <div class="col-sm-4 p-2">
                <div class="card">
                    <a href="/assets/samples/02.jpeg" data-pswp-width="665" data-pswp-height="400" target="_blank">
                        <img class="card-img-top lazy" src="/assets/samples/02.jpeg" alt="lazy image" />
                    </a>
                </div>
            </div>

            <div class="col-sm-4 p-2">
                <div class="card">
                    <a href="/assets/samples/03.jpeg" data-pswp-width="665" data-pswp-height="400" target="_blank">
                        <img class="card-img-top lazy" src="/assets/samples/03.jpeg" alt="lazy image" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>